# IDE
.ide/
.vscode/
*.iml

# Python
__pycache__/
*.pyc 
*.py[cod]
.env
venv/
.venv/


# Java
target/
*.class
*.jar
*.log
.gradle/

# Flutter
mobile/insight_app/build/
mobile/insight_app/.dart_tool/
mobile/insight_app/.packages

# Data (Image shout not push on git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.h5
*.pt 
*.pth 
*.onnx

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
.env
secrets/
node_modules/

#Example

example/

